body{
	background:orange;
}
.q{
	float:left;
	left:500px;
	top:100px;
	position:fixed;
}
.e{
	position:relative;
	left:450px;
	
}	
.r{
	position:fixed;
	left:10px;
	top:400px;
}
.v{
	position:fixed;
	left:10px;
	top:700px;
}